@use "/src/assets/Styles/variables.scss";

.footer {
    .row {
        width: 100%;
        background-color: $blue-dark-bgcolor;
    }
    p, ul{
        color: #f2f5f7;
    }
}
@media (max-width: 992px){
    .row {
        display: block;
        margin-left: initial;
    }
}