$main-font: Avenir, Helvetica, Arial, sans-serif;
$blue-dark-bgcolor: #2c3e50;
$black-color: black;
$white-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}